<!DOCTYPE html>
<html>
  <head>
    <title>Flight Blender Realtime</title>
  </head>
  <body>
    <h1>Flight Blender Realtime</h1>
    <p>
      This page verifies the connection to the Flight Blender for realtime data.
    </p>
    <h4>Realtime Data Stream:</h4>
    <p id="messageRecivedTimestamp"></p>
    <pre><code id="realtime-data" style="max-height: 300px; overflow-y: auto; display: block;"></code></pre>
    <script>
      const sessionId = "{{ session_id }}";
      let socket;
      if (sessionId != "00000000-0000-0000-0000-000000000000") {
        console.log("Using session ID:", sessionId);
        socket = new WebSocket(
          "ws://" +
            window.location.host +
            "/ws/surveillance/heartbeat/" +
            sessionId
        );
      } else {
        console.log("No session ID provided, connecting to default endpoint.");
        socket = new WebSocket(
          "ws://" + window.location.host + "/ws/surveillance/"
        );
      }

      socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        let timeStamp = new Date().toLocaleTimeString();
        document.getElementById(
          "messageRecivedTimestamp"
        ).textContent = `Last message received at: ${timeStamp}`;
        document.getElementById("realtime-data").textContent =
          "\n" + JSON.stringify(data, null, 2);
      };
    </script>
  </body>
</html>
